.button-grid {
    border-width: 1px;
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
}

.button {
    background-color: rgba(51, 51, 51, 0.05);
    border-radius: 10px;
    border-width: 1px;
    color: #333333;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    padding: 5px 10px;
    text-align: center;
}
.input {
    border-radius: 6px;
    font-size: 14px;
    height: 25px;
}